@model IEnumerable<RealityMarble.Web.Models.ShowUserModel>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>               
                @if (User.IsInRole("Administrator"))
                {
                    <div>
                    @Html.ActionLink("Change Password", "ChangePassword", "Admin", new { userId = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Change UserName", "ChangeUserName", "Admin", new { userId = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Change Email", "ChangeEmail", "Admin", new { userId = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteUser", "Admin", new { userId = item.Id }, new { @class = "btn btn-danger" })
                    </div>
                }
            </td>
        </tr>
    }

</table>