@model IEnumerable<RealityMarble.BLL.DataTransferObjects.UserDTO>

<div>
    @using (Ajax.BeginForm("FindUser", "Search", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 0,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    }))
    {
        <div align="center">
            <input type="text" name="searchRequest" source='@Url.Action("AutocompleteSearch", "Search")' />
            <input type="submit" value="Find" />
        </div>
    }
    <img id="loading1" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
    <div id="loading0" style="display:none; color:Red; font-weight:bold;">
        <p>Идет загрузка...</p>
    </div>
    <br />
    <div id="results"></div>
</div>

<script src="@Url.Content("~/scripts/jquery-3.1.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.0.min.js")" type="text/javascript"></script>

@*for autocomplete*@
<script type="text/javascript">
    $(function () {
        $("[source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("source") });
        });
    });
</script>

@*for ajax-form*@
<script type="text/javascript">
    function OnBegin() {
        $('#results').empty();
        //jQuery('#results').fadeOut('fast');
    }
    function OnSuccess(data) {
        //jQuery('#results').fadeIn('fast');
    }
    function OnFailure(request, error) {
        $("#results").html("No results.");
    }
    function OnComplete(request, status) {
    }
</script>

